@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>О проекте</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets2/css/main.min.css" />
    <link rel="stylesheet" href="~/assets2/css/main.css" />
</head>
<body class="subpage">
    <div id="page-wrapper">

        <!-- Header -->
        <section id="header">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <!-- Logo -->
                        <h1><a asp-controller="Home" asp-action="Index" id="logo">Приветствие</a></h1>

                        <!-- Nav -->
                        <nav id="nav">
                            <a asp-controller="Home" asp-action="MainIndex">Главная</a>
                            <a asp-controller="Home" asp-action="ThreeColumn">Военные части</a>
                            <a asp-controller="Home" asp-action="TwoColumn2">Структура войск</a>
                            <a asp-controller="Home" asp-action="OneColumn">Памятка</a>
                        </nav>


                    </div>
                </div>
            </div>
        </section>

        <!-- Content -->
        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="col-9 col-12-medium">

                        <!-- Main Content -->
                        <section>
                            <header>
                                <h2>О проекте</h2>
                                <h3>Рекомендовано к прочтению</h3>
                            </header>
                            <p>
                                Историческая память – это неотъемлемая часть самосознания любого народа, 
                                имеющего претензию на собственную идентичность и суверенитет. Как показала история 
                                человечества за прошедший XX век, если изменить историческую память даже наиболее
                                рационального мыслящего народа, то можно превратить его в расходный материал для Мировой войны, 
                                можно разрушить сверхдержаву без единого выстрела под аплодисменты самих жертв, можно поссорить 
                                братские народы и заставить их с охотой стрелять друг друга в интересах третьих лиц. Всё это становится
                                возможным благодаря изменению исторической памяти народа.
                            </p>
                            <p>
                                Однако есть средства против такого пагубного воздействия на сознание масс. Дело в том, что всякая
                                манипуляция сознанием основывается на частичном и разрозненном использовании исторических документов, 
                                эмоциях и обыкновенных выдумках. Как известно «Ложь, произнесённая тысячу раз, становится правдой», но до тех пор, 
                                пока реалии жизни не разбивают её в щепки. Поэтому наибольшую пользу приносят реальные документы архивов.
                            </p>
                            <p>
                                Но здесь возникает соответствующая проблема доступности архивных материалов для любого заинтересованного лица,
                                ведь для того, чтобы получить документ необходимо не только обращаться в архив, находящийся в сотнях и тысячах 
                                километров от дома, но и точно знать, какой именно документ является предметом интереса.
                            </p>
                            <p>
                                Вместе с тем существует проблема характерная для капиталистической формации, 
                                господствующей в современной России: архивы убыточны, а должны быть прибыльными или 
                                хотя бы самоокупаемыми. Ввиду этого архивы получают финансирование по остаточному 
                                принципу и просто разрушаются вместе с бесценными документами.
                            </p>
                            <p>
                                Поэтому представляется полезным для общества создание специализированных сайтов для собрания, 
                                систематизации и публикации исторических документов и их визуально представления в необходимых формах.
                            </p>
                        </section>

                    </div>
                    <div class="col-3 col-12-medium">

                        <!-- Sidebar -->
                        <section>
                            <header>
                            </header>
                            <ul class="link-list">
                                <li><img src="~/images/v6.jpg" width="400" height="600" /></li>
                            </ul>
                        </section>
                       

                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-8 col-12-medium">

                        <!-- Links -->
                        <section>
                            <h2>Ссылки на важные ресурсы</h2>
                            <div>
                                <div class="row">
                                    <div class="col-3 col-12-small">
                                        <ul class="link-list last-child">
                                            <li><a href="https://archive.mil.ru/archival_service/central/history.htm">ЦАМО РФ</a></li>
                                            <li><a href="http://www.fsb.ru/fsb/supplement/archive.htm">Архив ФСБ</a></li>
                                            <li><a href="http://rgaspi.org/">Архив социально-политической истории</a></li>
                                            <li><a href="http://xn--80afqtm.xn--p1ai/category/tegi/tsk-kpss.shtml">Архив ЦК КПСС</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-3 col-12-small">
                                        <ul class="link-list last-child">
                                            <li><a href="http://podvignaroda.ru/?#tab=navHome">Подвиг народа</a></li>
                                            <li><a href="http://www.rusarchives.ru/tegi/velikaya-otechestvennaya-voyna">Федеральное архивное агентство</a></li>
                                            <li><a href="https://www.pobediteli.ru/">Победители</a></li>
                                            <li><a href="http://june-22.mil.ru/">Проект "22 июня"</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-3 col-12-small">
                                        <ul class="link-list last-child">
                                            <li><a href="https://obd-memorial.ru/html/">Мемориал</a></li>
                                            <li><a href="http://mil.ru/winner_may/docs.htm">Министерство Обороны РФ</a></li>
                                            <li><a href="https://www.moypolk.ru/">Бессмертный полк</a></li>
                                            <li><a href="https://ru.stsg.de/cms/dokstelle/content/o-tsentre/tsentr-dokumentatsii">Погибшие на территории ФРГ</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-3 col-12-small">
                                        <ul class="link-list last-child">
                                            <li><a href="http://www.pomnite-nas.ru/">Воинские захоронения</a></li>
                                            <li><a href="https://www.permgaspi.ru/vplen/index.php?char=%25D0%2590">Архив на базе Пермского университета</a></li>
                                            <li><a href="http://xn--b1afa8admefdd2c.xn--p1ai/izdat/ism.htm">Проект "Отечество"</a></li>
                                            <li><a href="http://www.rkka.ru/imaps.htm">Военные карты</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-4 col-12-medium imp-medium">

                        <!-- Blurb -->
                        <section>
                            <h2>Дополнительное уведомление</h2>
                            <p>
                                Если вы нашли некий новый ресурс, который вы можете порекомендовать для улучшения качества содержимого баз данных нашего сайта, просим вас сообщить ссылку на него администрации.
                                Надеемся на плодотворное сотрудничество.
                            </p>
                        </section>

                    </div>
                </div>
            </div>
        </section>

        <!-- Copyright -->
        <div id="copyright">
            &copy; Untitled. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
        </div>

    </div>

    <!-- Scripts -->
    <script src="assets2/js/jquery.min.js"></script>
    <script src="assets2/js/browser.min.js"></script>
    <script src="assets2/js/breakpoints.min.js"></script>
    <script src="assets2/js/util.js"></script>
    <script src="assets2/js/main.js"></script>

</body>
</html>